@charset "ISO-8859-1"; /* -------------------- Reset CSS ---------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td { padding: 0; margin: 0; } 
a { text-decoration:none; color: #000; } 
table { border-spacing: 0; } 
fieldset,img { border: 0; } 
address,caption,cite,code,dfn,em,strong,th,var { font-weight: normal; font-style: normal; } 
strong { font-weight: bold; } 
ol,ul { list-style: none; margin:0; padding:0; } 
caption,th { text-align: left; } 
abbr,acronym { border: 0; } 

@font-face { font-family: 'notoR'; src: url(../source/NotoSansCJKkr-Regular.otf); } 
@font-face { font-family: 'notoM'; src: url(../source/NotoSansCJKkr-Medium.otf); } 
@font-face { font-family: 'notoB'; src: url(../source/NotoSansCJKkr-Bold.otf); } 

body { font-family: 'notoR'; text-align: center; } 

::-webkit-scrollbar { display: none; } 
::selection { background-color: #535353; color: #fff; } 

.blind { display: none !important; } 
.wrap { width: 1400px; margin: 0 auto; } 
.inner { width: 1200px; margin: 0 auto; } 

@keyframes load { 
0% { opacity: 0.08; filter: blur(5px); letter-spacing: 6px; } 

100% { letter-spacing: 3px; } 
}

.loader { background-color: #111; color: white; z-index: 1000; width: 100vw; height: 100vh; position: fixed; top: 0; } 
.animate { font-size: 20px; font-family: 'notoB'; display: flex; justify-content: center; align-items: center; height:100%; margin: auto; animation: load 1.2s infinite 0s ease-in-out; animation-direction: alternate; text-shadow: 0 0 1px white; } 

/* -------------------- header --------------------- */
header { position: fixed; top: 0; z-index: 100; width: 100%; } 
header nav { height: 75px; display: flex; justify-content: space-between; align-items: center; padding: 0 5%; } 
header nav h1 { font-family: 'notoB'; font-size: 30px; letter-spacing: -1px; } 

header nav #gnb { position: absolute; z-index: 150; top: 0; right: 0; height: 100vh; width: 0; background-color: #fff; box-shadow: -2px 0 4px #cdcdcd; overflow: hidden; } 
header nav #gnb.active { width: 35%; } 
header nav #gnb li { padding: 25px 25px; font-size: 17px; font-family: 'notoM'; } 
header nav #gnb li:first-child { margin-top: 70px; } 

header nav #gnb li a { color: #8d8d8d; transition: all .3s; position: relative; } 
header nav #gnb li a:hover { color: #000; } 
header nav #gnb li a::after { content: ''; position: absolute; height: 2px; width: 0; transform: translateX(-50%); left: 50%; bottom: -15%; transition: .3s ease-out; background-color: #212121; }
header nav #gnb li a:hover:after { width: 100%; }

.menu-trigger { width: 25px; height: 20.5px; background-color: transparent; border: none; position: relative; cursor: pointer; z-index: 170; display: inline-block; } 
.menu-trigger span { background-color:#bebebe; position: absolute; border-radius: 2px; transition: .3s cubic-bezier(.8, .5, .2, 1.4); width:100%; height: 3px; transition-duration: 500ms}
.menu-trigger:hover span { background-color: #8d8d8d; }

.menu-trigger span:nth-child(2) { top: 0px; left: 0px; } 
.menu-trigger span:nth-child(3) { top: 9px; left: 0px; opacity: 1; } 
.menu-trigger span:nth-child(4) { bottom: 0px; left: 0px; } 

.menu-trigger:not(.open):hover span:nth-child(2) { transform: rotate(6deg) scaleY(1.1); } 
.menu-trigger:not(.open):hover span:nth-child(3) { transform: rotate(-4deg) scaleY(1.1); } 
.menu-trigger:not(.open):hover span:nth-child(4) { transform: rotate(6deg) scaleY(1.1); } 
.menu-trigger.open span:nth-child(2) { transform: rotate(45deg); top: 13px; } 
.menu-trigger.open span:nth-child(3) { opacity:0; } 
.menu-trigger.open span:nth-child(4) { transform: rotate(-45deg); top: 13px; } 

/* ------- 디자인 이미지 고정 ------------ */
body .menuImg { width: 87vw; position: absolute; top: 0; left: 6.5%; z-index: -200; opacity: .5; } 

/* ------------------ scrollTop ------------------------- */
#scrollTop { background-color: rgba(255, 255, 255, 0.925); box-shadow: 0px 1.5px 3px #929292; color:#000; align-content: center; width: 53px; height: 53px; border-radius: 50px; text-align: center; font-family:Verdana; font-size: 12px; bottom: 40px; right: 50px; position: fixed; z-index: 3; cursor: pointer; } 
#scrollTop:hover { transition: 0.5s ease; background-color: #dededee9; } 
#scrollTop::before { content: "\2303"; position: absolute; width: 50px; top: 7px; left: 1px; color: #000; font-size: 18px; } 
#scrollTop .topTxt { display: block; margin-top: 21px; font-size: 12px; } 