@charset "ISO-8859-1"; 
/* ------------------ Reset CSS ---------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td { padding: 0; margin: 0; } 
a { text-decoration:none; color: #000; } 
table { border-spacing: 0; } 
fieldset,img { border: 0; } 
address,caption,cite,code,dfn,em,strong,th,var { font-weight: normal; font-style: normal; } 
strong { font-weight: bold; } 
ol,ul { list-style: none; margin:0; padding:0; } 
caption,th { text-align: left; } 
abbr,acronym { border: 0; } 

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* { font-family: 'Noto Sans KR', sans-serif; text-align: center; } 

::-webkit-scrollbar { display: none; } 
.blind { display: none; }

.progressbar { position: fixed; height: 3px; top: 0; left: 0; width: 100%; z-index: 500; } 
.progressbar > .progress { width: 0%; /* 프로그래스바 진행 정도 */ height: 100%; transition: width 0.3s ease-out; background-color: #a00; } 

#scrollTop { background-color: rgba(255, 255, 255, 0.925); box-shadow: 1px 1px 3px #717171; color:#000; align-content: center; width: 53px; height: 53px; border-radius: 50px; text-align: center; font-family:Verdana; font-size: 12px; bottom: 40px; right: 50px; position: fixed; z-index: 3; cursor: pointer; } 
#scrollTop:hover { transition: 0.5s ease; background-color: #dbdbdbe9; } 
#scrollTop::before { content: "\2303"; position: absolute; width: 50px; top: 7px; left: 1px; color: #000; font-size: 18px; } 
#scrollTop .topTxt { display: block; margin-top: 21px; font-size: 12px; } 

body img { width: 100vw; } 