.mainBanner { height: 850px; } 

section h2 { font-size: 35px; text-align: left; } 
section .infoTxt { font-size: 17px; text-align: justify; line-height: 170%; } 

#section0 { height: 450px; } 
#section0 h2 { margin-bottom: 25px; } 
#section0 article { font-size: 17px; float: left; width: 580px; text-align: left; line-height: 170%; } 
#section0 > div { font-size: 35px; font-family: 'notoB'; padding-top: 30px; } 
#section0 > div span { display: inline-block; width: 75px; border-top: 3px solid #000; margin: 0 9px 9px 9px; } 

/* ---------------------------------------------------------------- */
#section1 article { display: flex; justify-content: space-between; margin-bottom: 200px; } 
#section1 article h3 { font-size: 22px; border-bottom: 3px solid #000; padding-bottom: 15px; text-align: left; } 

#section1 h2 { clear: both; margin-bottom: 25px; } 
#section1 p { margin-top: 16px; }
#section1 article #notoInfo { width: 580px; } 
#section1 article #notoTxt0 { margin-bottom: 30px; } 

#section1 article #singleWord { border-collapse:collapse; width: 575px; height: 419px; } 
#section1 article #singleWord tr td { font-size: 90px; border: 2px solid #b7b7b7; } 
#section1 article .wordInfo { display: inline-block; width: 264px; } 
#section1 article #notoSketch { margin-top: 50px; } 

/* ---------------------------------------------------------------- */
#section2 article { display: flex; justify-content: space-between; align-items: flex-end; } 
#section2 article h2 { margin-bottom: 150px; }
#section2 article p { width: 274px; } 
#section2 table { border: 2px solid #b7b7b7; border-width: 2px 0; width: 892px; height: 570px; padding-left: 30px; } 
#section2 table tr { height: 14%; } 
#section2 table td { font-size: 18px; } 
#section2 table .thickness { font-size: 38px; } 
#section2 table #thin { font-family: 'notoT'; } 
#section2 table #light { font-family: 'notoL'; } 
#section2 table #demlight { font-family: 'notoD'; } 
#section2 table #medium { font-family: 'notoM'; } 
#section2 table #bold { font-family: 'notoB'; } 
#section2 table #black { font-family: 'notoBlack'; } 

/* ---------------------------------------------------------------- */
#darkBanner { width: 100vw; background-color: #000; margin: 200px 0; padding-top: 50px; }
#darkBanner .b_row { color: #fff; font-size: 65px; font-family: 'notoB'; text-align: justify; margin-top: -70px;}
#darkBanner .b_row::after { content: ''; width: 100%; display: inline-block; }
#darkBanner .b_row:first-child { padding-top: 70px;}

/* ---------------------------------------------------------------- */
#section3 article { text-align: left; margin-top: 20px; } 
#section3 .others { font-size: 68px; float: left; line-height: 100%; margin-left: 35px; } 
#section3 .s3_row { width: 100%; padding: 65px 0; } 
#section3 .nanum { font-family: 'nanum' } 
#section3 .s3_row .s3_col0 { font-size: 14px; width: 130px; color: #999; float: left; } 

/* ---------------------------------------------------------------- */
#section4 { background-color: #1F1F1F; padding: 60px 0; margin: 220px 0; }
#section4 #allBtn { display: flex; justify-content: space-between; width: 500px; margin-bottom: 50px; }
#section4 #allBtn div { display: flex; align-items: flex-end; }
#section4 #allBtn div#btn0 { color: #fff; }
#section4 #allBtn div#btn1 { color: #00FF85; }
#section4 #allBtn div#btn2 { color: #9896ff; }
#section4 #allBtn div p { margin-left: 10px; }
#section4 #allBtn input { display: none; }
#section4 #allBtn label { width: 17px; height: 17px; border-radius: 50%; background-color: transparent; cursor: pointer; } 

#section4 #allBtn #bonBtn + label { border: 2px solid #fff; transition: all .2s; }
#section4 #allBtn #bonBtn:checked + label { background-color: #fff; }
#section4 #allBtn #nanumBtn + label { border: 2px solid #00ff85; transition: all .2s;}
#section4 #allBtn #nanumBtn:checked + label { background-color: #00ff85; }
#section4 #allBtn #neoBtn + label { border: 2px solid #9896ff; transition: all .2s;}
#section4 #allBtn #neoBtn:checked + label { background-color: #9896ff; }

#section4 .allWordLine { display: flex; justify-content: space-between;}
#section4 .allWordLine .wordLine p { color: #fff; width: 350px; padding: 20px 0 0 10px; }
#section4 .allWordLine .wordLine .word { width: 370px; height: 370px;}
#section4 .allWordLine .wordLine .word0 { background: url(../source/s4_word0.svg); }
#section4 .allWordLine .wordLine .word1 { background: url(../source/s4_word1.svg); }
#section4 .allWordLine .wordLine .word2 { background: url(../source/s4_word2.svg); }

/* ---------------------------------------------------------------- */
#section5 article { display: flex; justify-content: space-between; align-items: flex-end; }
#section5 article h2 { margin-bottom: 70px; }
#section5 article p { width: 270px; }
#section5 .s5_row { margin-top: 50px; }
#section5 .s5_col0 { font-size: 14px; color: #666; text-align: left; display: inline-block; width: 180px; }
#section5 .s5_c1r0::after { content: url(../source/s5_row0.svg); }
#section5 .s5_c1r1::after { content: url(../source/s5_row1.svg); }

/* ---------------------------------------------------------------- */
#section6 { margin-top: 200px; }
#section6 article { width: 580px; }
#section6 article#s6_con0 { padding: 60px 0 200px 0;}
#section6 article#s6_con1 { padding-bottom: 130px; }
#section6 article h2 { margin-bottom: 60px; }
#section6 #hgPoster { float: right; }

footer { padding-bottom: 30px; }
footer p { color: #ababab; font-size: 13px; }