@font-face { font-family: 'nanum'; src: url(../source/NanumBarunGothic.ttf); } 
@font-face { font-family: 'notoL'; src: url(../source/NotoSansCJKkr-Light.otf); } 
@font-face { font-family: 'notoD'; src: url(../source/NotoSansCJKkr-DemiLight.otf); } 
@font-face { font-family: 'notoBlack'; src: url(../source/NotoSansCJKkr-Black.otf); } 

.mainBanner { height: 850px; } 

section h2 { font-size: 35px; text-align: left; } 
section .infoTxt { font-size: 17px; text-align: left; line-height: 170%; } 

#section0 { height: 450px; } 
#section0 h2 { margin-bottom: 25px; } 
#section0 article { font-size: 17px; float: left; width: 580px; text-align: left; line-height: 170%; } 
#section0 > div { font-size: 35px; font-family: 'notoB'; padding-top: 30px; } 
#section0 > div span { display:inline-block; width: 75px; border-top: 3px solid #000; margin: 0 9px 9px 9px; } 

#section1 article { display: flex; justify-content: space-between; margin-bottom: 190px; } 
#section1 article h3 { font-size: 22px; border-bottom: 3px solid #000; padding-bottom: 15px; text-align: left; } 

#section1 h2 { clear: both; margin-bottom: 25px; } 
#section1 p { margin-top: 16px; } 
#section1 article #notoInfo { width: 580px; } 
#section1 article #notoTxt0 { margin-bottom: 30px; } 

#section1 article #singleWord { border-collapse:collapse; width: 575px; height: 419px; } 
#section1 article #singleWord tr td { font-size: 90px; border: 2px solid #b7b7b7; } 
#section1 article .wordInfo { display: inline-block; width: 264px; } 
#section1 article #notoSketch { margin-top: 50px; } 

#section2 article { display: flex; justify-content: space-between; align-items: flex-end; } 
#section2 article p { width: 264px; } 
#section2 table { border: 2px solid #b7b7b7; border-width: 2px 0; width: 892px; height: 570px; } 
#section2 table tr { height: 14%; } 
#section2 table td { font-size: 18px; } 
#section2 table .thickness { font-size: 38px; } 
#section2 table #thin { font-family: 'notoT'; } 
#section2 table #light { font-family: 'notoL'; } 
#section2 table #demlight { font-family: 'notoD'; } 
#section2 table #medium { font-family: 'notoM'; } 
#section2 table #bold { font-family: 'notoB'; } 
#section2 table #black { font-family: 'notoBlack'; } 

#darkBanner { width: 100vw; height: 540px; background-color: #000; margin: 150px 0; } 

#section3 article { text-align: left; margin-top: 50px; } 
#section3 .others { font-size: 68px; float: left; line-height: 100%; } 
#section3 .row { width: 100%; padding: 65px 0; } 
#section3 .nanum { font-family: 'nanum' } 
#section3 .row .col0 { font-size: 14px; width: 150px; color: #999; float: left; } 