
body { color: #fff; background-color: #000; overflow: hidden;}
body a { color: #fff; }

header .line { display: block; border-bottom: 2px solid #fff; margin: 0 4%;}

/* -------------------- main ----------------------- */
main { margin-top: 105px; cursor: default;}
main .row { width: 1400px; display: flex; justify-content: space-between; font-size: 85px; line-height: 150%;}
main .row .thick { font-family: 'notoB'; transition: .5s cubic-bezier(0.46, 0.78, 0.56, 1.06); letter-spacing: 4px; }
main .row .thin { font-family: 'notoR'; transition: .5s cubic-bezier(0.46, 0.78, 0.56, 1.06); letter-spacing: 2px;}

.row1:hover .thick { font-family: 'notoR'; letter-spacing: 2px;}
.row1:hover .thin { font-family: 'notoB'; letter-spacing: 4px;}
.row2:hover .thick { font-family: 'notoR'; letter-spacing: 2px;}
.row2:hover .thin { font-family: 'notoB'; letter-spacing: 4px;}
.row3:hover .thick { font-family: 'notoR'; letter-spacing: 2px;}
.row3:hover .thin { font-family: 'notoB'; letter-spacing: 4px;}

.row #basic, #space, #form { position: relative; }
.row #basic::before{ content: "01"; font-size: 17px; color: #ccc; font-weight: 400; position: absolute; top: -52px; left: 5px; }
.row #space::before{ content: "02"; font-size: 17px; color: #ccc; font-weight: 400; position: absolute; top: -52px; left: 5px; }
.row #form::before{ content: "_03"; font-size: 17px; color: #ccc; font-weight: 400; position: absolute; top: -52px; left: 5px; }

.row #leaves { content: url(../source/leaves.svg); }
.row #plusFrame { width: 90px; height: 91px; content: url(../source/plusFrame.png); margin-top: 35px; }

